html{
    background-image: url('https://neftegaz.ru/upload/iblock/a0a/lerze8laou62j116u5kqj6x01f8adqd7/Depositphotos_165380252_xl_2015.jpg');
}
.gera{
    width: 775px;
    height: 800px;
}
.mod1{
}
.mod2{
    position: relative;
    left: 375px;
    bottom: 790px;
}
.nor1{
    font-size: 50px;
    font-weight: bolder;
    position: relative;
    left: 10px;
    color: rgb(255, 123, 0);
}
.nor5{
    font-size: 50px;
    font-weight: bolder;
    position: relative;
    left: 70px;
    color: rgb(255, 123, 0);
}
.image-button{
    width: 350px;
    height: 350px;
    border: none;
    background-image: url('hamster.jpg');
    background-size: cover;
    border: 5px solid rgb(249, 169, 64);
}
.nor2{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(255, 123, 0);
}
.nor3{
    width: 350px;
    height: 75px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    background: rgb(0, 120, 50);
    font-weight: bolder;
}
.kill0{
    size: 275px;
    height: 75px;
}
.reg0{
    width: 80px;
    height: 80px;
    font-size: 50px;
    border-width: 5px;
    position: relative;
    top: 17px;
    border-color: rgb(0, 255, 0);
    border-width: 5px;
}
.not1{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(208, 0, 128);
}
.not0{
    font-size: 50px;
    font-weight: bolder;
    position: relative;
    left: 75px;
    color: rgb(208, 0, 128);
}
.lo1{
    width: 390px;
    height: 75px;
    font-size: 50px;
    background: chartreuse;
    border: none;
}
.no1{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(255, 123, 0);
}
.lo2{
    width: 390px;
    height: 75px;
    font-size: 50px;
    background: rgb(255, 255, 0);
    border: none;
}
.no2{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(255, 123, 0);
}
.lo3{
    width: 390px;
    height: 75px;
    font-size: 50px;
    background: rgb(255, 0, 0);
    border: none;
}
.no3{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(255, 123, 0);
}
.no4{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(0, 150, 255);
}
.no5{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(0, 150, 255);
}
.kill1{
    size: 275px;
    height: 75px;
    position: relative;
    bottom: 13px;
}
.re1{
    width: 80px;
    height: 80px;
    background-image: url('https://mywebicons.ru/i/png/1d7c3cc83fdaead5fdbea29f994ea4f6.png');
    background-size: cover;
    top: 30px;
    border-width: 5px;
    position: relative;
    top: 17px;
    border-color: rgb(0, 255, 0);
    border-width: 5px;
}
